<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="naree.db.mapper.AdminMapper">

	<select id="searchAdminById" parameterType="String" resultType="Admin">
		SELECT admin_seq, id
		  FROM admin_tb
		WHERE id = #{id}
	</select>

	<select id="searchAdminByAdmin" parameterType="Admin" resultType="Integer">
		SELECT count(admin_seq)
		  FROM admin_tb
		 WHERE id = #{id}
		    AND pw = password(#{pw})
	</select>
	<insert id="registerBuy" parameterType="hashmap">
		INSERT INTO buy_tb (price
									,etc ) VALUES (
									#{price}
									,#{etc} )
	</insert>
	<select id="totalPrice" resultType="Integer">
		SELECT sum(price)
		  FROM buy_tb
	</select>
	
	<select id="test_list" parameterType="Integer" resultType="Admin">
		SELECT test_seq, id, pw
		  FROM test_tb
		ORDER BY test_seq DESC
		LIMIT #{pageCnt}, 10
	</select>
	
</mapper>