<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="naree.db.mapper.DiaryMapper">

	<insert id="insertDiary" parameterType="Diary" useGeneratedKeys="true" keyProperty="diary_seq" >
		INSERT INTO diary_tb (
						  title,
						  contents,
						  writng_year,
						  writng_mt,
						  writng_de,
						  user_seq ) VALUES (
						  #{title},
						  #{contents},
						  #{writng_year},
						  #{writng_mt},
						  #{writng_de},
						  #{user_seq} )
	</insert>
	
	<select id="selectDiaryByUserSeqYearMt" parameterType="Diary" resultType="Diary">
		SELECT diary_seq, title, contents, writng_year, writng_mt, writng_de, image_nm, image_server_nm, user_seq
		  FROM diary_tb
		WHERE user_seq = #{user_seq}
		    AND writng_year = #{writng_year}
		    AND writng_mt = #{writng_mt}
	</select>
	
	<delete id="deleteDiaryByUserSeq" parameterType="Integer">
		DELETE FROM diary_tb
			     WHERE user_seq = #{user_seq}
	</delete>
	
	<select id="selectDiaryByDiary" parameterType="Diary" resultType="Integer">
		SELECT count(*) as cnt
		  FROM diary_tb
		WHERE user_seq = #{user_seq}
		    AND writng_year = #{writng_year}
		    AND writng_mt = #{writng_mt}
		    AND writng_de = #{writng_de} 
	</select>

	<update id="updateDiaryByDiary" parameterType="Diary">
		UPDATE diary_tb 
		     SET title = #{title},
		           contents = #{contents} 
         WHERE diary_seq = #{diary_seq}
	</update>
	
	<delete id="deleteDiaryByDiary" parameterType="Integer">
		DELETE FROM diary_tb
		         WHERE diary_seq = #{diary_seq}
	</delete>
	
	<update id="updateDiaryForFile" parameterType="Diary">
		UPDATE diary_tb
		     SET image_nm = #{image_nm},
		     	   image_server_nm = #{image_server_nm}
		 WHERE diary_seq = #{diary_seq}
	</update>

</mapper>