<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="naree.db.mapper.HeightMapper">


	<parameterMap type="Map" id="Map">
		<parameter property="user_seq"/>
		<parameter property="dateFrom"/>
		<parameter property="dateTo"/>
		<parameter property="pageCntFirstIndex"/>
	</parameterMap>

	<insert id="insertHeight" parameterType="Height">
		INSERT INTO height_tb (
							height_seq
							,height
							,mesure_date
							,user_seq) VALUES (
							#{height_seq}
							,#{height}
							,now()
							,#{user_seq} )
	</insert>
	
	<select id="selectHeightByUser_seq" parameterType="String" resultType="Height">
		SELECT height_seq, height, mesure_date, user_seq
		  FROM height_tb
		 WHERE user_seq = #{user_seq}
	 ORDER BY mesure_date DESC
	 	   LIMIT 1
	</select>
	
	<delete id="deleteHeightByUserSeq" parameterType="String">
		DELETE FROM height_tb
		WHERE user_seq = #{user_seq}
	</delete>
	
	<select id="selectHeightByUserSeqFT" parameterType="Map" resultType="Height">
	<![CDATA[
		SELECT height_seq, height, mesure_date, user_seq
		   FROM height_tb
		 WHERE user_seq = #{user_seq}
		 AND #{dateFrom} <= date(mesure_date) AND date(mesure_date) <= #{dateTo}
		 ORDER BY mesure_date DESC
		 LIMIT #{pageCntFirstIndex}, 10
	]]>
	</select>
	
	<select id="selectHeightSeq" resultType="String">
		SELECT max(height_seq) as height_seq FROM height_tb
	</select>
	
	<delete id="deleteHeightByHeightSeq" parameterType="String">
		DELETE FROM height_tb
		WHERE height_seq = #{height_seq}
	</delete>
	
	<insert id="insertHeightAnd" parameterType="Height">
		INSERT INTO height_tb (
							height_seq
							,height
							,mesure_date
							,user_seq) VALUES (
							#{height_seq}
							,#{height}
							,now()
							,#{user_seq} )
	</insert>

</mapper>