<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="naree.db.mapper.MemberMapper">

	<select id="selectMemberExistByFacebook_id" parameterType="String" resultType="Integer">
		SELECT count(*) FROM member_tb
		WHERE facebook_id = #{facebook_id}
	</select>
	
	<insert id="insertMember" parameterType="Member">
		INSERT INTO member_tb (
						email
						,name
						,id
						,domain
						<if test="password != null">,password</if>
						,join_de
						,kakao_id
						,kakao_nickname
						,kakao_thumbnailimagepath
						,facebook_id
						,facebook_email
						,facebook_birthday
						,facebook_name
						,facebook_gender
						,join_route) VALUES (
						#{email},
						#{name},
						#{id},
						#{domain},
						<if test="password != null">password(#{password}),</if>
						now(),
						#{kakao_id},
						#{kakao_nickname},
						#{kakao_thumbnailimagepath},
						#{facebook_id},
						#{facebook_email},
						#{facebook_birthday},
						#{facebook_name},
						#{facebook_gender},
						#{join_route} )
	</insert>
	
	<select id="selectMemberExistByKakao_id" parameterType="String" resultType="Integer">
		SELECT count(*) FROM member_tb
		WHERE kakao_id = #{kakao_id}
	</select>
	
	<select id="selectMemberExistByEmail" parameterType="String" resultType="Integer">
		SELECT count(*) FROM member_tb
		WHERE email = #{email}
	</select>
	
	<insert id="insertJoinAgre" parameterType="Member">
		INSERT INTO join_agre_tb (
							use_stplat_agre_at,
							use_stplat_agre_de,
							indvdlinfo_trtmnt_polcy_agre_at,
							indvdlinfo_trtmnt_polcy_agre_de,
							member_seq) VALUES (
							'Y',
							now(),
							'Y',
							now(),
							#{member_seq} )
	</insert>
	
	<select id="selectMemberByEmail" parameterType="String" resultType="Member">
		SELECT member_seq, email, name, id, domain, password, join_de
					, kakao_id, kakao_nickname, kakao_thumbnailimagepath
					, facebook_id, facebook_email, facebook_birthday, facebook_name, facebook_gender, join_route 
		   FROM member_tb
		 WHERE email = #{email}
	</select>
	
	<select id="selectMemberByFacebookId" parameterType="Member" resultType="Member">
		SELECT member_seq, email, name, id, domain, password, join_de,
				   kakao_id, kakao_nickname, kakao_thumbnailimagepath,
				   facebook_id, facebook_email, facebook_birthday, facebook_name, facebook_gender, join_route 
		  FROM member_tb
		WHERE join_route = #{join_route}
		   AND facebook_id = #{facebook_id}
	</select>
	
	<select id="selectMemberByKakaoId" parameterType="Member" resultType="Member">
		SELECT member_seq, email, name, id, domain, password, join_de,
				   kakao_id, kakao_nickname, kakao_thumbnailimagepath,
				   facebook_id, facebook_email, facebook_birthday, facebook_name, facebook_gender, join_route 
		  FROM member_tb
		WHERE join_route = #{join_route}
		   AND kakao_id = #{kakao_id}
	</select>
	
	<select id="selectMemberByPhyctoEmail" parameterType="Member" resultType="Member">
		SELECT member_seq, email, name, id, domain, password, join_de,
				   kakao_id, kakao_nickname, kakao_thumbnailimagepath,
				   facebook_id, facebook_email, facebook_birthday, facebook_name, facebook_gender, join_route 
		  FROM member_tb
		WHERE join_route = #{join_route}
		   AND email = #{email}
	</select>
	
	<select id="selectMemberByMemberSeq" parameterType="Integer" resultType="Member">
		SELECT member_seq, email, name, id, domain, password, join_de,
				   kakao_id, kakao_nickname, kakao_thumbnailimagepath,
				   facebook_id, facebook_email, facebook_birthday, facebook_name, facebook_gender, join_route 
		  FROM member_tb
		WHERE member_seq = #{member_seq}
	</select>
	
	<select id="selectMemberByFacebookInfo" parameterType="Member" resultType="Member">
		SELECT member_seq, email, name, id, domain, password, join_de,
				   kakao_id, kakao_nickname, kakao_thumbnailimagepath,
				   facebook_id, facebook_email, facebook_birthday, facebook_name, facebook_gender, join_route 
		  FROM member_tb
		WHERE join_route = #{join_route}
		   AND facebook_id = #{facebook_id}
	</select>
	
	<select id="selectMemberByPhycto" parameterType="Member" resultType="Member">
		SELECT member_seq, email, name, id, domain, password, join_de,
				   kakao_id, kakao_nickname, kakao_thumbnailimagepath,
				   facebook_id, facebook_email, facebook_birthday, facebook_name, facebook_gender, join_route 
		  FROM member_tb
		WHERE join_route = #{join_route}
		   AND email = #{email}
		   AND password = password(#{password})
	</select>

</mapper>