<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="naree.db.mapper.PushMapper">
	<select id="selectBoxList" resultType="Member">
		SELECT IFNULL(IFNULL(name, kakao_nickname),facebook_name) AS name,
		           B.member_seq,
		           B.token 
		  FROM member_tb AS A 
		 INNER JOIN push_tb AS B 
		     ON A.member_seq = B.member_seq
	</select>
</mapper>