<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="naree.db.mapper.UsersMapper">

	<insert id="insertUsers" parameterType="Users">
		INSERT INTO users_tb (
						name
						,initials
						,lifyea
						,mt
						,de
						,sexdstn
						,member_seq ) VALUES (
						#{name},
						#{initials},
						#{lifyea}
						,#{mt},
						#{de},
						#{sexdstn},
						#{member_seq} )
	</insert>
	
	<select id="selectUsersByMemberSeq" parameterType="String" resultType="Users">
		SELECT user_seq, name, initials, lifyea, mt, de, sexdstn, member_seq 
	       FROM users_tb
	     WHERE member_seq = #{member_seq}
	</select>
	
	<delete id="delectUsersByUserSeq" parameterType="String">
		DELETE FROM users_tb 
		WHERE user_seq = #{user_seq}
	</delete>
	
	<update id="updateUsersByUsers" parameterType="Users">
		UPDATE users_tb SET
					name = #{name},
					initials = #{initials},
					lifyea = #{lifyea},
					mt = #{mt},
					de = #{de},
					sexdstn = #{sexdstn}
		  WHERE user_seq = #{user_seq}
	</update>

</mapper>