<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="naree.db.mapper.UsersMapper">

	<insert id="insertUsers" parameterType="Users">
		INSERT INTO users_tb (
						name
						,initials
						,lifyea
						,mt
						,de
						,sexdstn
						,member_seq ) VALUES (
						#{name},
						#{initials},
						#{lifyea}
						,#{mt},
						#{de},
						#{sexdstn},
						#{member_seq} )
	</insert>
	
	<select id="selectUsersByMemberSeq" parameterType="String" resultType="Users">
		SELECT user_seq, name, initials, lifyea, mt, de, sexdstn, member_seq 
	       FROM users_tb
	     WHERE member_seq = #{member_seq}
	</select>
	
	<delete id="deleteUsersByUserSeq" parameterType="String">
		DELETE FROM users_tb 
		WHERE user_seq = #{user_seq}
	</delete>
	
	<update id="updateUsersByUsers" parameterType="Users">
		UPDATE users_tb SET
					name = #{name},
					initials = #{initials},
					lifyea = #{lifyea},
					mt = #{mt},
					de = #{de},
					sexdstn = #{sexdstn}
		  WHERE user_seq = #{user_seq}
	</update>
	
	<delete id="deleteUsersByMemberSeq" parameterType="Integer">
		DELETE FROM users_tb
		         WHERE member_seq = #{member_seq}
	</delete>
	
	<select id="selectMonthNumAnimalByUserSeq" parameterType="Integer" resultType="Analysis">
	<![CDATA[
		SELECT analysis_seq, sexdstn, month_num, height, rank, animal_img
		  FROM analysis_2007_tb
        WHERE month_num = IF(PERIOD_DIFF((SELECT LEFT(max(height_seq),6) FROM height_tb WHERE user_seq = #{user_seq}),
                                                            (SELECT CONCAT(lifyea,mt) FROM users_tb WHERE user_seq = #{user_seq}) ) < 229,
                                         PERIOD_DIFF((SELECT LEFT(max(height_seq),6) FROM height_tb WHERE user_seq = #{user_seq}),
                                                            (SELECT CONCAT(lifyea,mt) FROM users_tb WHERE user_seq = #{user_seq}) ) 
                                       , 228)
			AND sexdstn = (SELECT sexdstn FROM users_tb WHERE user_seq = #{user_seq})
			AND height >= (
            					  SELECT h.height 
            					     FROM height_tb h, (select max(height_seq) as height_seq from height_tb WHERE user_seq = #{user_seq}) dh
                                   WHERE h.height_seq = dh.height_seq
                                 )
     ORDER BY analysis_seq
          LIMIT 1
	]]>
	</select>
	
		<select id="selectMaxMonthNumAnimalByUserSeq" parameterType="Integer" resultType="Analysis">
	<![CDATA[
		SELECT analysis_seq, sexdstn, month_num, height, rank, animal_img
		  FROM analysis_2007_tb
        WHERE month_num = IF(PERIOD_DIFF((SELECT LEFT(max(height_seq),6) FROM height_tb WHERE user_seq = #{user_seq}),
                                                            (SELECT CONCAT(lifyea,mt) FROM users_tb WHERE user_seq = #{user_seq}) ) < 229,
                                         PERIOD_DIFF((SELECT LEFT(max(height_seq),6) FROM height_tb WHERE user_seq = #{user_seq}),
                                                            (SELECT CONCAT(lifyea,mt) FROM users_tb WHERE user_seq = #{user_seq}) ) 
                                       , 228)
			AND sexdstn = (SELECT sexdstn FROM users_tb WHERE user_seq = #{user_seq})
      ORDER BY analysis_seq DESC
           LIMIT 1
	]]>
	</select>
	
	
	
	
	
	
	
	
	
	
	

</mapper>